@{
    ViewData["Title"] = "Home";
}

<div class="row justify-content-center"><h2 class="text-center mt-5">Cliente</h2></div>
<hr />
<section>
    @await Html.PartialAsync("_Cadastro")
</section>

<section>
    @await Html.PartialAsync("_Tabela")
</section>

@section Scripts{

<script>
    var $rows = $('#table tr');
    $('#Cliente_Nome').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

</script>
}
